.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;
}

.top {
    border: 1px var(--violet) solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.top > p:nth-child(1) {
    font-weight: 700;
}

.top p {
    margin: 0 10px;
    text-transform: uppercase;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.bottom > div:nth-child(1) {
    width: 50%;
    height: 500px;
}

.bottom > div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.bottom > div:nth-child(2) {
    width: 50%;
    text-align: left;
}

.bottom h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 10px 0;
}

.bottom p {
    font-size: 18px;
    line-height: 34px;
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.buttons button:nth-child(1) {
    border: 1px var(--sky-blue) solid;
    margin-top: 30px;
    background-color: var(--sky-blue);
    color: var(--bg-color);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.buttons button:nth-child(2) {
    border: 1px var(--sky-blue) solid;
    margin-top: 30px;
    background-color: var(--bg-color);
    color: var(--sky-blue);
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* Large tablets & small laptops */
@media (max-width: 1200px) {
    .bottom {
        flex-direction: row;
        gap: 30px;
    }

    .bottom > div:nth-child(1),
    .bottom > div:nth-child(2) {
        width: 100%;
        height: 500px;
    }

    .bottom > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .bottom h1 {
        font-size: 40px;
    }

    .bottom p {
        font-size: 16px;
        line-height: 28px;
    }
}
/* Tablets & small screens */
@media (max-width: 768px) {
    .wrapper {
        margin: 80px 0;
        gap: 30px;
    }

    .top {
        flex-direction: row;
        gap: 10px;
        padding: 5px 10px;
    }

    .top > p:nth-child(1) {
        font-size: 8px;
    }

    .top p {
        font-size: 8px;
        margin: 0 5px;
    }

    .bottom {
        flex-direction: column;
        gap: 30px;
    }

    .bottom > div:nth-child(1),
    .bottom > div:nth-child(2) {
        width: 100%;
        height: 350px;
        gap: 20px;
    }

    .bottom > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .bottom h1 {
        font-size: 30px;
    }

    .bottom p {
        font-size: 14px;
        line-height: 24px;
    }

    .buttons {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .buttons button:nth-child(1),
    .buttons button:nth-child(2) {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
/* Mobile devices */
@media (max-width: 480px) {
    .wrapper {
        margin: 30px 0;
        gap: 20px;
    }

    .top > p:nth-child(1) {
        font-size: 6px;
    }

    .top p {
        font-size: 5px;
        margin: 0 3px;
    }

    .bottom h1 {
        font-size: 24px;
    }

    .bottom p {
        font-size: 12px;
        line-height: 20px;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    .buttons button:nth-child(1),
    .buttons button:nth-child(2) {
        font-size: 14px;
        padding: 8px;
    }
}
