body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #020d43;
    color: var(--text-color);
    padding: 0 30px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --primary-color: #061665;
    --secondary-color: #030a2e;
    --pink: #ff379e;
    --sky-blue: #8ec8ee;
    --neon: #00ffd2;
    --violet: #e018e0;
    --text-color: #ffffff;
    --bg-color: #020d43;
}
